body{
    margin:0;
    padding:0;
    overflow: hidden;
}
canvas{
    display: block;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
}
.clearfix::after{
    content: " ";
    display: block;
    clear: both;
}
.selectIcon{
    position: fixed;
    top: 5px;
    left: 5px;
}
.icon {
    width: 1.2em; height: 1.2em;
    vertical-align: -0.15em;
    fill: black;
    overflow: hidden;
    margin: 15px;
    float:left;
    cursor: pointer;
}
.selectColor{
    position: fixed;
    top: 50px;
    left: 5px;
}
.color{
    display: block;
    height: 1.2em;
    width: 1.2em;
    margin: 15px;
    border-radius: 50%;
    cursor: pointer;
}
#blue{
    background-color: blue;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
#black{
    background-color: black;
}
.actionsIcon{
    fill: red;
    transform: scale(1.2);
}
.actionsColor{
    transform: scale(1.2);
}
body:before {
    width: 100%;
    height: 100%;
    content: ' ';
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background: #fff;
}
